@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Tangerine:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #eee2dc;
    --second-bg-color: #edc7b7;
    --text-color: #123c69;
    --main-color: #ac3b61;
    --highlight-color: #ac3b61;
    --wrong-color: red;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    display: flex;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2 );
}

.logo{
    font-size: 2rem;
    font-family: audiowide;
    color: var(--text-color);
    font-weight: 600;
    cursor:default;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar a {
    font-size: 1.7rem;
    font-family: audiowide;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

section{
    min-height: 80vh;
    padding: 5rem 10% 2rem;
}
.home{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    font-family: lemon;
}
.home-content h1{
    font-family: audiowide;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
    font-family: audiowide;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    border: 5px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 3px 0px 30px 5px var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    padding-right: 20px;
    font-family: 'Salsa', cursive;
}

.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-family: 'Orbitron', sans-serif;
    transition: .5s ease;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    font-family: audiowide;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
    /* min-height: 7rem; */
    
}
.about-img img{
    width: 25vw;
    border: 5px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 3px 0px 30px 5px var(--main-color);
    animation: light 5s linear infinite;
    animation-delay: 1s;

}
@keyframes light{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
      border-radius: 50%;
      box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90.1%,92.1%,100%{
      border-radius: 50%;
      box-shadow: 0 0 10px var(--highlight-color),
      0 0 10px var(--highlight-color),
      0 0 15px var(--highlight-color),
      0 0 25px var(--highlight-color),
      0 0 50px var(--highlight-color);
    }
    }


.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
    font-family: lemon;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-family: 'Salsa', cursive;
}

.tab{
    display: flex;
    justify-content: space-around;
}
.tab p {
    font-size: 2rem;
    font-family: audiowide;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.tab p:hover,
.tab p.active{
    color: var(--main-color);
}
.tab-content {
    display: none;
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Poppins', cursive;
}

.tab-content.active {
    display: block;
}
.ab-content{
    background: var(--second-bg-color);
}
.myskills h2 {
    font-size: 2.6rem;
    padding-left: 15px;
    text-align: center;
}

.skill-content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.skill-content i{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.service{
    min-height: 8rem;
}
.services h2 {
    margin-bottom: 5rem;
}

.services-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-content .service-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.services-content .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.6rem;
    font-family: lemon;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-family: 'Salsa', cursive;
}

.portfolio{
    background: var(--second-bg-color)
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-content .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    transition: .2s ease-in;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    aspect-ratio: 3/2;
}

.portfolio-box:hover{
    border-style: solid;
    border-color: var(--main-color);
    box-shadow: 3px 0px 30px 5px var(--main-color);
    
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1 ), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-family: lemon;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-size: 1.6rem;
    font-family: 'Salsa', cursive;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact-form{
    display:flex;
    justify-content: space-around;
}
.contact-content{
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-content .contact-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    justify-content: space-around;
}
.contact-content .contact-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.contact-box i {
    font-size: 3rem;
    color: var(--main-color);
    display: flex;
    /* justify-content: space-around; */
}

.contact-box h3{
    font-size: 1.6rem;
    padding-top: 8px;
    font-family: lemon;
}

.contact-box p {
    font-size: 2rem;
    margin: 1rem 4rem;
    font-family: poppins;
}
.contact form{
    max-width: 70rem;
    margin: -1rem 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .item.error{
   border: 2px solid var(--wrong-color); 
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background:var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 48%;
}

.contact form textarea{
    resize: none;
}


.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background:var(--main-color) ;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    section{
        min-height: 25vh;
    }
    
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .service{
        padding-bottom: 7rem;
    }
    .skill-content {
        width: auto;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%
    }
    section{
        min-height: 40vh;
    }
}
@media (max-width: 768px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width:100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top:.1rem solid rgba(0, 0, 0, .2 );
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2 );
        display:none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size:2.6rem ;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .home-content p{
        text-align: justify;
    }
    .about-content p{
        text-align: justify;
    }

    .about{
        flex-direction: column-reverse;
    }
    .skill-content i{
        font-size: 5em;
        margin: 1rem 0.5rem 2rem 0;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-content{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-layer p {
        font-size: 1.3rem;
        margin: 0.3rem 0 1rem;
    }
    .contact-content{
        margin: 1rem 0rem 1rem 0rem;
    }
    .content p{
        padding-left: 70px;
    }
    .skill-content{
        width: 100%;
    }
    .contact-box p {
        font-size: 1.3rem;
        margin: 1rem 1rem;
    }
    .contact-box{
        font-size: 2.3rem;
        padding-top: 16px;
    }
    .contact-box i{
        font-size: 2rem;
    }
    .contact-box h3 {
        font-size: 1.3rem;
    }
    .contact form{
        max-width: 80rem;
    }
}

@media (max-width: 617px){
    .portfolio-content{
        grid-template-columns: 1fr;
    }
    .about-content{
        display: block;
    }
    .content p{
        padding-left: 10px;
        text-align: justify;
    }
    .skill-content{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .skill-content i{
        font-size: 3rem;
    }
    .home-content p{
        text-align: justify;
    }
    .contact-form{
        margin: 1rem 1rem 3rem 1rem;
        display: block;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    
}

